@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
:root {
  --color-light-blue: #66e2dc;
  --color-orange: #fa7453;
  --color-yellow: #ffb964;
  --color-white: #fcfaf9;
  --color-black: #191826;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 16.5rem;
  background-image: url("./assets/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-bottom: 9rem;
}

.mobile {
  position: absolute;
  width: 31.2rem;
  top: 65rem;
  left: 26.7rem;
}

.pattern1 {
  width: 31.2rem;
  height: 46.8rem;
  position: absolute;
  right: 0;
  top: -4rem;
}

@media screen and (max-width: 76.8rem) {
  .container {
    max-width: 76.8rem;
    background-image: url(./assets/bg-main-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 3.9rem;
    padding-bottom: 8.5rem;
  }
  .mobile {
    width: 27.2rem;
    top: 63rem;
    left: 9.7rem;
  }
  .pattern1 {
    width: 26.6rem;
    height: 40rem;
    position: absolute;
    right: 0;
    top: -3.2rem;
  }
}
@media screen and (max-width: 42.5rem) {
  .container {
    max-width: 37.5rem;
    background-image: url(./assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0;
    padding-bottom: 8rem;
  }
  .mobile {
    width: 20.8rem;
    top: 52.4rem;
    left: 8rem;
  }

  .pattern1 {
    display: none;
  }
}
